// basic outside and inside containers /////////////
// @see: *_preprocess_page
#pg__c.page-panel .mq-main {
  max-width: 100%;
}

body #pg__c.page-panel section#content > #content-area {
  padding-left: 0;
  padding-right: 0;
}

.cog-pl {
  .cog-panel--fullrow {
    width: 100%;
  }

  .cog-panel--mq {
    // @include container(80em); - Susy Grid mixin removed since we want to allow center column the ability to go full width, this may need to be changed and we remove this for a specific content type that uses full width items like paragraphs.
  }
}

// visual markers: enable for reference ////////////
//.cog-panel--fullrow { border-top: 2px dotted #d3e0e5; border-bottom: 2px dotted #d3e0e5 }
//.cog-panel--mq { border-right: 2px dotted #d3e0e5; border-left: 2px dotted #d3e0e5; }

/// Cog Panel Layouts /////////////////////////////
.panel-cog-layout-one-col { // one-column
  .cog-layout--main {
    @include span(12 of 12 last);
  }
}

.panel-cog-layout-one-two-one { // one-two-one
  @include breakpoint($up-sm) {
    .cog-layout--middle-left {
      @include span(6 of 12);
    }

    .cog-layout--middle-right {
      @include span(6 of 12 last);
    }
  }
}

.panel-cog-layout-one-two-one-cl { // one-two-one content left
  @include breakpoint($up-sm) {
    .cog-layout--middle-left {
      @include span(9 of 12);
    }

    .cog-layout--middle-right {
      @include span(3 of 12 last);
    }
  }
}

.panel-cog-layout-one-two-one-cr { // one-two-one content right
  @include breakpoint($up-sm) {
    .cog-layout--middle-left {
      @include span(3 of 12);
    }

    .cog-layout--middle-right {
      @include span(9 of 12 last);
    }
  }
}

.panel-cog-layout-one-three-one { // one-three-one
  @include breakpoint($up-sm) {
    .cog-layout--middle-left {
      @include span(4 of 12);
    }

    .cog-layout--middle-center {
      @include span(4 of 12);
    }

    .cog-layout--middle-right {
      @include span(4 of 12 last);
    }
  }
}

.panel-cog-layout-one-three-one-cm { // one-three-one content middle
  @include breakpoint($up-sm) {
    .cog-layout--middle-left {
      @include span(3 of 12);
    }

    .cog-layout--middle-center {
      @include span(6 of 12);
    }

    .cog-layout--middle-right {
      @include span(3 of 12 last);
    }
  }
}

.panel-cog-layout-one-two-three-one { // one-two-three-one
  @include breakpoint($up-sm) {
    .cog-layout--first-middle-left {
      @include span(6 of 12);
    }

    .cog-layout--first-middle-right {
      @include span(6 of 12 last);
    }

    .cog-layout--second-middle-left {
      @include span(4 of 12);
    }

    .cog-layout--second-middle-center {
      @include span(4 of 12);
    }

    .cog-layout--second-middle-right {
      @include span(4 of 12 last);
    }
  }
}

.panel-cog-layout-one-three-two-one { // one-three-two-one
  @include breakpoint($up-sm) {
    .cog-layout--first-middle-left {
      @include span(4 of 12);
    }

    .cog-layout--first-middle-center {
      @include span(4 of 12);
    }

    .cog-layout--first-middle-right {
      @include span(4 of 12 last);
    }

    .cog-layout--second-middle-left {
      @include span(6 of 12);
    }

    .cog-layout--second-middle-right {
      @include span(6 of 12 last);
    }
  }
}
