// Layout
//
// Sidebars Region Styling
//
// Markup: sidebars.twig
//
// Style guide: layout.sidebars

//////////////////////////////////
// Sidebar First /////////////////
//////////////////////////////////

/*
.body-sidebars-first {
  @include breakpoint($up-sm) {
    aside.sidebar-first {
      @include span(3 of 12);

      > * {
        padding-left: 15px;
      }
    }

    section#content {
      @include span(9 of 12 last);

      > * {
        padding-right: 25px;
      }
    }
  }
}
*/

//////////////////////////////////
// Sidebar Second ////////////////
//////////////////////////////////

/*
.body-sidebars-second {
  @include breakpoint($up-sm) {
    aside.sidebar-second {
      @include span(3 of 12 last);

      > * {
        padding-right: 15px;
      }
    }

    section#content {
      @include span(9 of 12);

      > * {
        padding-left: 25px;
      }
    }
  }
}
*/

//////////////////////////////////
// Sidebar Both //////////////////
//////////////////////////////////

/*
.body-sidebars-both {
  @include breakpoint($up-sm) {
    aside.sidebar-first {
      @include span(2 of 12);

      > * {
        padding-left: 15px;
      }
    }

    section#content {
      @include span(8 of 12);

      > * {
        padding-right: 25px;
      }
    }

    aside.sidebar-second {
      @include span(2 of 12 last);

      > * {
        padding-right: 15px;
      }
    }
  }
}
*/

//////////////////////////////////
// Sidebar None //////////////////
//////////////////////////////////

/*
.body-sidebars-none {
  section#content {
    @include span(12 of 12);

    > * {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
*/

//////////////////////////////////
// General Sidebar Rules /////////
//////////////////////////////////

#main .cog--mq {
  display: flex;
  flex-direction: column;
}

aside#sidebar-first{
  order: 1;
}

aside#sidebar-second{
  order: 1;
}

aside#sidebar-first:empty,
aside#sidebar-second:empty {
  flex-basis: 0;
  display: none;
}

@media (min-width: 768px) {

  #main .cog--mq {
    flex-direction: row;
    flex: 1;
  }
  
  section#content {
    flex-grow: 1;
    flex-basis: 50%;
  }
  
  aside#sidebar-first,
  aside#sidebar-second {
    flex-basis: 25%;
    align-self: flex-start;
  }

  aside#sidebar-first{
    order: -1;
  }
}


