.region-footer {
  .block-menu,
  .menu--footer {
    ul.menu {
      > li {
        display: block;
        margin: 0 0 0.5rem;

        a {
          padding: 0.25rem 0;
        }
      }
    }
  }
}
