//For manually adding custom classes to blocks. This may need to get abstracted / built up or removed.
.block-webform {
  &[class*='background'] {
    padding: $component-gutter;
  }

  &[class*='default'] form,
  &[class*='narrow'] form {
    padding: $component-gutter;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &[class*='full-width'] {
    margin-top: 0;
    margin-bottom: 0;

    h2 {
      max-width: 75rem;
      margin: 0 auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    form {
      padding: 0 $component-gutter;
    }
  }

  input,
  textarea {
    max-width: 100%;
    width: 100%;
  }
}
