#branding {
  > div {
    max-width: 77rem;
    padding: 1rem;
    margin: 0 auto;
  }

  .region-branding {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .block-system-menublock ul.menu {
      @extend .no-ul-list;
    }

    .block-system-branding-block {
      margin: 0;
    }
  }

  #block-umass-basic-branding {
    display: flex;
    align-items: center;
  }

  .site-branding-text {
    //padding: 30px 10px 10px;
    font-size: 135%;
  }

  // logo values
  div.site-branding a.logo {
    max-height: 50px;
    min-width: 300px;
    margin: 1.5rem 0;
    display: inline-block;

    img {
      max-height: 50px;
    }
  }

  // site name
  .site-branding-name {
    font-size: 3rem;
    font-weight: 700;
    padding: 1.5rem 0;

    a,
    a:hover {
      text-decoration: none;
      display: block;
    }
  }
}
