.field--name-field-tags {
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  .field__item {
    display: inline-block;
    margin-right: 0.25rem;

    a {
      padding: 0.5rem 1rem;
      background: $lighttan;
      border-radius: 2rem;
      text-decoration: none;

      &:hover {
        background: $red;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
