.field--name-field-headshot {
  border-radius: 50%;
  max-width: 280px;
  overflow: hidden;
  background: $light-gray;
  display: inline-block;
  margin-bottom: 1rem;

  img {
    display: block;
  }
}