// Flexslider
//

.flexslider {
  border: 0;

  .flex-direction-nav a {
    height: 60px;
    line-height: 1.5; //This helps with our navigation control labels

    @media only screen and (max-width: 1024px) {
      display: block;
      opacity: 1;

      &.flex-prev {
        left: 10px;
      }

      &.flex-next {
        right: 10px;
      }
    }
  }

  .slide-caption {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    padding: 2rem;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    width: 35%;
    color: $white;

    &.background-maroon {
      background-color: rgba($maroon, 0.8);

      a {
        border: solid 1px $white;
      }
    }

    &.background-dark {
      background-color: rgba($darkblue, 0.8);
    }

    &.background-light {
      background-color: rgba($off-white, 0.8);
    }

    @media only screen and (max-width: 1280px) {
      width: 50%;
    }

    @media only screen and (max-width: 1024px) {
      position: static;
      width: 100%;
      padding: 1rem 3rem;
    
      &.background-maroon {
        background-color: rgba($maroon, 1);
      }

      &.background-dark {
        background-color: rgba($darkblue, 1);
      }

      &.background-light {
        background-color: rgba($off-white, 1);
      }
    }

    h2 {
      line-height: 1.2;

      @media only screen and (max-width: 1280px) {
        font-size: 2rem;
      }
    }

    a {
      text-decoration: none;
    }

    p {
      overflow: hidden;
    }
  }

  .top-left.slide-caption {
    right: inherit;
    left: 3rem;
    top: 1rem;
    bottom: inherit;
  }

  .bottom-left.slide-caption {
    right: inherit;
    left: 3rem;
    top: inherit;
    bottom: 1rem;
  }

  .centered.slide-caption {
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100vw - 6rem);
    max-width: 1280px;

    @media only screen and (max-width: 1024px) {
      position: static;
      transform: none;
      width: 100%;
    }
  }

  .top-right.slide-caption {
    top: 1rem;
    bottom: inherit;
  }

  .none.slide-caption { 
    display: none; 
  }

}

