// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header
header#header {
  background: $off-white;
}

#header > div {
  max-width: 77rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.region-header {
  //  @include region-spacer($light-gray);
}

.cog--mq.mq-header {
  margin: 0 auto;
}

nav#block-umass-basic-main-menu {
  margin: 0;
}
