// Main Menu
//

/* Menu Position Fix for Hover positioning */
.horizontal-menu > li ul ul {
  left: 100%;
}

.block-responsive-menu ul.horizontal-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;

  a {
    padding: 0.25rem $component-gutter;
    text-decoration: none;
    color: $black;
    font-size: 1.25rem;
    border-top: solid 0.25rem transparent;
    border-bottom: solid 0.25rem transparent;
  }
}

// Responsive Menu Module - Wide Screen Horizontal Superfish Customizations.
ul#horizontal-menu {
  overflow: visible;

  > li {
    > a:hover {
      background: $maroon;
      color: #fff;
      border-bottom: solid 0.25rem $gold;
    }

    &.menu-item--active-trail {
      > a {
        background: $maroon;
        color: #fff;
        font-weight: 700;
      }
    }

    &.sfHover > a {
      background: $maroon;
      color: #fff;
    }
  }

  ul.menu.sub-nav {
    margin: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    z-index: 98;
    width: 15rem;

    a {
      color: #000;
      border-top: solid 0.25rem transparent;
      border-bottom: solid 0.25rem transparent;

      &.sf-with-ul {
        padding-right: 2rem;
        position: relative;
      }

      &.sf-with-ul::after {
        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: 900;
        content: '\f105';
        position: absolute;
        right: 0.5rem;
      }
    }

    a:hover {
      background: $off-white;
      color: #000;
      border-bottom: solid 0.25rem $gold;
    }

    > li.menu-item--active-trail {
      a {
        background: $off-white;
        color: #000;
        font-weight: 700;
      }
    }
  }
}
