.field--name-field-related-person-s-,
.nodetype--person {

  .field--name-field-position-or-job-title {
    font-weight: 700;
  }

  .field--type-email {
    .field__items {
      display: inline-block;
    }

    .field__item::before {
      font-family: "Font Awesome 5 Free", sans-serif;
      font-weight: regular;
      content: '\f0e0';
      margin-right: 1rem;
      color: #003b5c;
      display: inline-block;
    }
  }

  .field--type-telephone {
    .field__items {
      display: inline-block;
    }

    .field__item::before {
      font-family: "Font Awesome 5 Free", sans-serif;
      font-weight: 900;
      content: '\f095';
      margin-right: 1rem;
      color: #003b5c;
      display: inline-block;
    }
  }
}

.field--name-field-related-person-s- .field--name-node-title h2 {
  margin-bottom: 0.5rem;
}

.nodetype--person {
  /* Person node specifics */
}
