.paragraph--type--upcoming-events {
  > div {
    padding: $component-gutter 0;
  }

  .list {
    .view-content {
      > .views-row {
        border-bottom: solid 1px $light-gray;
        margin-bottom: 1rem;

        .field--name-field-header-image,
        .field--name-field-teaser-image {
          flex-basis: 250px;
          padding: 1rem;
        }

        .details {
          padding: 1rem;
        }
      }
    }
  }

  .flex-grid-2 {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 -1rem;

      > .views-row {
        flex-basis: 50%;
        min-width: 300px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  .flex-grid-3 {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 -1rem;

      > .views-row {
        flex-basis: 33.33%;
        min-width: 300px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
        }

        h2 {
          font-size: 2rem;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  .flex-grid-4 {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 -1rem;

      > .views-row {
        flex-basis: 25%;
        min-width: 250px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
        }

        h2 {
          font-size: 2rem;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  .background-light,
  .background-dark,
  .background-maroon {
    padding: $component-gutter 0;

    .views-element-container {
      padding: $component-gutter;
    }
  }

  div[class*='background'].full-width > div {
    max-width: 75rem;
  }
}
