.paragraph--type--full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .field--name-field-image {
    max-width: 80rem;
    margin: $component-gutter auto;

    img {
      display: block;
    }
  }
}

.field--name-field-body .field--name-field-body:first-child .paragraph--type--full-width-image .field--name-field-image{
  margin-top: 0;
}
