.paragraph--type--video {
  .field--name-field-video-embed-code {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe{
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .field--name-field-text,
  .field--name-field-caption,
  .field--name-field-label-description {
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 75rem;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  div[class*='background'] > div {
    padding: 1rem;
  }

  .full-width-content > div {
    padding: 0;

    .field--name-field-text,
    .field--name-field-caption,
    .field--name-field-label-description {
      padding: 1rem;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
