.paragraph--type--pull-quote {
  > figure {
    margin-top: 0;
    margin-bottom: 0;

    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 1rem;
  
      @media only screen and (max-width: 640px) {
        display: block;
        text-align: center;
      }

      .field--name-field-image {
        float: none;
        flex-basis: 40%;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        max-width: 280px;
        overflow: hidden;
        background: $light-gray;
        display: inline-block;
      }

      img {
        display: block;
        width: 100%;
      }

      figcaption {
        flex-basis: 60%;
        padding: 1rem 2.5rem;
        flex-grow: 1;
      }

      .field--name-field-text {
        font-size: 2.5rem;
        display: inline;

        &::before {
          font-family: "Font Awesome 5 Free", sans-serif;
          font-weight: 700;
          content: '\f10d';
          display: inline-block;
          position: relative;
          margin: 0 0.5rem 0 -1.25rem;
          font-size: 2rem;
          color: $red;
        }

        &::after {
          font-family: "Font Awesome 5 Free", sans-serif;
          font-weight: 700;
          content: '\f10e';
          display: inline-block;
          position: relative;
          margin: 0 -1.25rem 0 0.5rem;
          font-size: 2rem;
          color: $red;
        }

        p {
          display: inline;
        }

        p:last-of-type {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .right {
    figcaption {
      order: -1;
    }
  }

  .field--name-field-attribution {
    font-size: 1.5rem;
    color: inherit;
    font-weight: 700;
  }

  figure.default-width,
  figure.narrow-width {
    border-top: dotted 2px $warm-gray;
    border-bottom: dotted 2px $warm-gray;
    margin-top: $component-gutter;
    margin-bottom: $component-gutter;
  }

  figure[class*='background'] {
    border: 0;
    padding: 2.5rem;

    .field--name-field-text {
      &::before {
        color: inherit;
      }

      &::after {
        color: inherit;
      }
    }
  }

  figure.background-light {
    border-bottom: solid 4px $maroon;
  }

}