.paragraph--type--text-with-image {
  img {
    display: block;
  }

  ul,
  ol {
    overflow: hidden;
  }

  .field--name-field-caption {
    p:first-of-type {
      margin-top: 0.5rem;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .left {
    figure {
      float: left;
      padding: 0 $component-gutter 0 0;
      margin: 0 0 1rem;

      @media only screen and (max-width: 900px) {
        float: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .right {
    figure {
      float: right;
      padding: 0 0 0 $component-gutter;
      margin: 0 0 1rem;

      @media only screen and (max-width: 900px) {
        float: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .full-width > div {
    max-width: 73rem;
  }

  .full-width[class*="background"] > div {
    max-width: 75rem;
  }

  .background-light > div,
  .background-dark > div,
  .background-maroon > div {
    display: flex;

    @media only screen and (max-width: 640px) {
      display: block;
    }

    figure {
      float: none;
      flex-basis: 40%;
      padding: $component-gutter;
      margin: 0;
    }
  }

  .background-light,
  .background-dark,
  .background-maroon {
    .right {
      .field--name-field-text {
        float: none;
        flex-basis: 60%;
        padding: $component-gutter;
        order: -1;
        flex-grow: 1;
      }
    }

    .left {
      .field--name-field-text {
        float: none;
        flex-basis: 60%;
        padding: $component-gutter;
        flex-grow: 1;
      }
    }
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
