.paragraph--type--call-to-action-with-button {
  > div {
    padding: 1rem;
  }

  .field--name-field-text {
    h2 {
      text-align: center;
    }
  }

  .field--name-field-link-s- .field__items {
    display: flex;
    justify-content: space-around;
    max-width: 60rem;
    margin: $component-gutter auto;

    .field__item {
      padding: 0.5rem 1rem;
    }

    a {
      display: inline-block;
      font-size: 1.5em;
      padding: $component-gutter;
      background: $maroon;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      overflow: hidden;
      min-width: 166px;
      border-radius: 4px;
      color: $white;
      z-index: 10;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: #fff;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .background-maroon .field--name-field-link-s- .field__items a {
    border: solid 1px $white;
  }

  div[class*='background'].full-width > div {
    max-width: 73rem;
  }
}

.field--name-field-body:last-of-type .paragraph--type--call-to-action-with-button {
  margin-bottom: 0;
}
