.paragraph--type--two-column-text {
  .layout {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex-basis: 50%;
      min-width: 300px;

      @media only screen and (max-width: 640px) {
        flex-basis: 100%;
      }
    }

    .first {
      padding-right: $component-gutter;

      @media only screen and (max-width: 640px) {
        padding-right: 0;
      }
    }

    .last {
      padding-left: $component-gutter;

      @media only screen and (max-width: 640px) {
        padding-left: 0;
      }
    }
  }

  .background-light,
  .background-dark,
  .background-maroon {
    &.first,
    &.last {
      padding: $component-gutter;
    }
  }
}
