.paragraph--type--page-title-and-subhead {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-bottom: solid 4px $gold;

  h1 {
    color: #000;
    font-family: $lora;
    margin-bottom: 0.5rem;
  }

  .field--name-field-subhead {
    font-size: 1.5rem;
    color: $red;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
