.paragraph--type--referenced-content {
  .field--name-field-label-description {
    padding: 0 $component-gutter;
  }

  .list {
    > .field__items {
      margin: 0;

      > .field__item {
        border-bottom: solid 1px $light-gray;
        padding: $component-gutter;

        &:last-child {
          border-bottom: none;
        }

        .layout__region {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;

          @media only screen and (max-width: 599px) {
            flex-wrap: wrap;
          }
        }

        .field--name-field-header-image,
        .field--name-field-teaser-image {
          flex-basis: 250px;
          padding-right: 1rem;
          flex-shrink: 0;

          @media only screen and (max-width: 599px) {
            padding-right: 0;
            flex-basis: 100%;
          }
        }

        .details {
          padding: 1rem 0;

          @media only screen and (max-width: 599px) {
            flex-basis: 100%;
          }
        }

        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .flex-grid-2 {
    > .field__items {
      display: flex;
      flex-wrap: wrap;

      > .field__item {
        flex-basis: 50%;
        min-width: 250px;
        max-width: 564px;

        @media only screen and (max-width: 599px) {
          flex-basis: 100%;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  .flex-grid-3 {
    > .field__items {
      display: flex;
      flex-wrap: wrap;

      > .field__item {
        flex-basis: 33.33%;
        min-width: 250px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
        }

        @media only screen and (min-width: 565px) and (max-width: 899px) {
          flex-basis: 50%;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  .flex-grid-4 {
    > .field__items {
      display: flex;
      flex-wrap: wrap;

      > .field__item {
        flex-basis: 25%;
        min-width: 250px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
        }

        @media only screen and (min-width: 565px) and (max-width: 779px) {
          flex-basis: 50%;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  /*
  /* Layouts */

  .default-width {
    margin: 1rem 0;
  }

  .list.full-width > .field__items {
    margin: 0 auto;
  }

  div[class*='background'] {
    padding: 1rem 0;
  }

  /* This looks like it's a bit much, but this keeps us from writing the same rule a bunch of times for each variation */
  div[class*='full-width'][class*='background'].flex-grid-2 {
    > .field__items  {
      align-items: stretch;

      > .field__item {
        flex-basis: calc(50% - 2rem);
        margin: 1rem;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

        @media only screen and (max-width: 564px) {
          flex-basis: calc(100% - 2rem);
        }

        .node,
        .layout {
          margin: 0;
        }

        .details {
          padding: 1rem;
        }

      }
    }
  }

  div[class*='full-width'][class*='background'].flex-grid-3 {
    > .field__items  {
      align-items: stretch;

      > .field__item {
        flex-basis: calc(33.33% - 2rem);
        margin: 1rem;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

        @media only screen and (max-width: 564px) {
          flex-basis: calc(100% - 2rem);
        }

        @media only screen and (min-width: 565px) and (max-width: 995px) {
          flex-basis: calc(50% - 2rem);
        }

        .node,
        .layout {
          margin: 0;
        }

        .details {
          padding: 1rem;
        }
      }
    }
  }

  div[class*='full-width'][class*='background'].flex-grid-4 {
    > .field__items  {
      align-items: stretch;

      > .field__item {
        min-width: 250px;
        max-width: 564px;
        flex-basis: calc(25% - 2rem);
        margin: 1rem;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

        @media only screen and (max-width: 564px) {
          flex-basis: calc(100% - 2rem);
        }

        @media only screen and (min-width: 565px) and (max-width: 1104px) {
          flex-basis: calc(50% - 2rem);
          min-width: 200px;
        }

        .node,
        .layout {
          margin: 0;
        }

        .details {
          padding: 1rem;
        }
      }
    }
  }

  div[class*='full-width'][class*='background'][class*='flex-grid'] {
    > .field__items  {
      color: #000;

      label,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: #000;
        text-shadow: none;
      }

      a {
        color: $maroon;
      }

      a:hover {
        color: #000;
      }
    }
  }
}
