.path--webform {
  .webform-submission-form {
    > fieldset {
      padding: 1rem;

      > legend .fieldset-legend {
        font-size: 2rem;
      }
    }

    table {
      margin-bottom: 1.5rem;
    }

    tr {
      .form-item {
        padding: 0;
      }

      input[type="text"], 
      input[type="password"], 
      input[type="date"], 
      textarea {
        margin-bottom: 0;
      }
    }

    tr.draggable {
      &:hover {
        background: #f6dda2;
      }

      a:hover {
        text-decoration: none;
      }

      a.tabledrag-handle .handle {
        height: 1.5rem;
        margin: 0;
        padding: 0;
        width: 1.5rem;
        font-size: 1rem;
      }

      .form-item {
        padding: 0;
      }

      input[type="text"], 
      input[type="password"], 
      input[type="date"], 
      textarea {
        margin-bottom: 0;
      }
    }

    .webform-multiple-add {
      display: flex;
      align-items: flex-start;

      input[type="text"], 
      input[type="password"], 
      input[type="date"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="month"],
      input[type="week"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="tel"],
      input[type="time"],
      input[type="url"],
      textarea {
        margin-bottom: 0;
        margin-left: 1rem;
      }
    }
  }
}