#block-views-block-social-media-links-block-1,
#block-umass-standard-views-block-social-media-links-block-1 {
  .element-invisible {
    font-size: 1rem;
  }

  > h2 {
    color: #000;
  }

  .views-row {
    display: flex;
    flex-wrap: wrap;

    .views-field {
      padding: 0;

      + .views-field {
        padding: 0 0 0 1rem;
      }
    }
  }

  .fa-facebook-square, 
  .fa-facebook {
    color: #3c5a99;
  }

  .fa-twitter-square, 
  .fa-twitter {
    color: #00a0d1;
  }

  .fa-instagram {
    color: #4b85b7;
  }

  .fa-youtube,
  .fa-youtube-square {
    color: #c4302b;
  }

  .fa-linkedin-square,
  .fa-linkedin {
    color: #4875b4;
  }

  .fa-snapchat,
  .fa-snapchat-square {
    color: #000;
  }
}
