.view-homepage-hero-and-caption {
  .views-field-field-hero-image {
    position: relative;
    padding-top: 42.89%;
    background: $off-white;

    > div {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
