.view-news.view-display-id-page_1 {
  .view-content {
    margin: $component-gutter 0;

    > .views-row {
      border-bottom: solid 1px $light-gray;
      margin-bottom: 1rem;

      &:last-of-type {
        border-bottom: 0;
      }

      .layout__region {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .field--name-field-teaser-image {
        flex-basis: 250px;
        padding: 0 1rem 1rem 0;

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
          padding: 0;
        }
      }

      .details {
        padding: 1rem 0;
      }

      .field--type-image + .details {
        padding: 1rem 0 1rem 1rem;
        flex-basis: calc(100% - 250px);

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
          padding: 0;
        }
      }
    }
  }
}
