// Base HTML Elements.
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body_font;
  font-size: 1rem;
  line-height: 1.5;
}
// Base Headings
//
// Markup: headlines.twig
//
// Style guide: base.headlines
h1 {
  color: $heading;
  font-weight: 700;
  font-family: $lora;
  font-variant-ligatures: none;
  margin: 0;

  a,
  a:link,
  a:visited,
  a:link:hover {
    text-decoration: none;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: $heading;
  font-weight: 700;
  font-family: $heading_font;
  margin: 0;

  a,
  a:link,
  a:visited,
  a:link:hover {
    text-decoration: none;
  }
}

body .menu-item {
  padding-top: 0;
  margin: 0;
}

// Base Text
//
// Markup: text.twig
//
// Style guide: base.text
a,
a:link,
a:visited {
  text-decoration: underline;
  color: $link;
  cursor: pointer;

  &:hover {
    color: $dark-gray;
    text-decoration: underline;
  }
}

// Responsive Images
img,
svg {
  max-width: 100%;
  height: auto;
}

// Blockquote & Pre
//
// Markup: blockquote.twig
//
// Style guide: base.blockquote
blockquote {
  padding: 0 15px;
  color: $dark-gray;
  border-left: 4px solid $off-white;

  &:last-child {
    margin-bottom: 0;
  }
}

pre {
  white-space: pre-wrap;
  overflow-x: auto;

  code {
    border: 1px dotted $dark-gray;
    background: $off-white;
    padding: 2px 9px;
    display: block;
    font-size: 85%;
  }
}
// List Types
//
// Markup: lists.twig
//
// Style guide: base.lists

// OL items
ol {
  padding: 0 0 0 1.25em;
  margin: 0 0 10px 2em;

  li {
    margin: 0;
    padding: 0;
  }
}

ol ol {
  padding: 0 0 0 22.5px;
}

ol ol ol {
  padding: 0 0 0 22.5px;
}

// UL items
ul {
  padding: 0 0 0 1.25em;
  margin: 0 0 10px 2em;

  li {
    margin: 0;
    padding: 0;
  }
}

ul ul {
  padding: 0 0 0 22.5px;
}

ul ul ul {
  padding: 0 0 0 22.5px;
}

// Lists following floated elements
*[style*="float: left"] ~ ul,
*[style*="float: right"] ~ ul,
*[style*="float: left"] ~ ol,
*[style*="float: right"] ~ ol {
  overflow: hidden;
}


// Tables
//
// Markup: table.twig
//
// Style guide: base.table
table {
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;
    background-color: $off-white;
    padding: 4px 5px;
  }

  td {
    border: 0;
    outline: none;
    padding: 4px 5px;
  }

  thead {
    border: 1px solid $off-white;
    border-bottom: 0;
  }

  tbody {
    border: 1px solid $off-white;
  }

  tbody tr:nth-child(even) {
    background-color: $off-white;
    border-top: 1px solid $off-white;
    border-bottom: 1px solid $off-white;
  }
}
