.field__label {
  font-weight: 700;
}

.field--label-inline {
  .field__label {
    display: inline-block;
    margin-right: 0;
  }

  .field__items {
    display: inline-block;
  }

  .field__item {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
