@import "../../node_modules/typey/stylesheets/typey";

// Set defaults so they are easy to compute (in your head).
$base-unit: rem;

$base-font-size:           16px;
$base-line-height:         24px;

$line-height-method:       ratio;
$base-line-height-ratio:   1.5;

$font-size: (
  s: 12px,
  m: 16px,
  l: 24px,
  xl:40px,
  xxl:64px,
);

/*
$typey-debug: true;
$typey-debug-color: #D9B29C;
*/

html {
  @include define-type-sizing;
}

$typestyles: (
  heading-1: xxl 1.25,
  heading-2: xl 1.25,
  heading-3: l,
  heading-4: m,
  heading-5: m,
  heading-6: m,);

h1, .alpha {
  @include typeset(heading-1);
  @include margin-bottom(1);
}

h2, .beta {
  @include typeset(heading-2);
  @include margin-bottom(1);
}

h3, .gamma {
  @include typeset(heading-3);
  @include margin-bottom(1);
}

h4, .delta {
  @include typeset(heading-4);
  @include margin-bottom(1);
}

h5, .epsilon {
  @include typeset(heading-5);
  @include margin-bottom(1);
}

h6, .zeta {
  @include typeset(heading-6);
  @include margin-bottom(1);
}

p {
  @include margin-bottom(1);
}
