.component-margin {
  margin: $component-gutter;
}

.component-padding {
  padding: $component-gutter;
}

/* gives default margins to inline images */
img.align-left {
  margin-right: 1em;
}

/* gives default margins to inline images */
img.align-right {
  margin-left: 1em;
}

/* Accessible background color with appropriate text colors */
.background-light,
div[class*='background'] .background-light {
  background-color: $off-white;
  color: #000;

  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #000;
    text-shadow: none;
  }

  a,
  a:hover {
    color: $maroon;
    text-decoration: underline;
  }

  fieldset legend {
    background: inherit;
  }

  table {
    background: #fff;
  }

  select {
    color: #000;
  }
}

.background-dark,
div[class*='background'] .background-dark {
  background-color: $darkblue;
  color: #fff;

  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
  }

  a,
  a:hover {
    color: inherit;
    text-decoration: underline;
  }

  fieldset legend {
    background: inherit;
  }

  table {
    background: #fff;
  }

  select {
    color: #000;
  }
}

.background-maroon,
div[class*='background'] .background-maroon {
  background-color: $maroon;
  color: #fff;

  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
  }

  a,
  a:hover {
    color: inherit;
    text-decoration: underline;
  }

  fieldset legend {
    background: inherit;
  }

  table {
    background: #fff;
  }

  select {
    color: #000;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-50 {
  flex-basis: 50%;

  @media only screen and (max-width: 564px) {
    flex-basis: 100%;
  }

  &.block {
    flex-basis: calc(50% - 2rem);

    @media only screen and (max-width: 564px) {
      flex-basis: calc(100% - 2rem);
    }
  }
}

.flex-33 {
  flex-basis: 33.33%;

  @media only screen and (max-width: 564px) {
    flex-basis: 100%;
  }

  @media only screen and (min-width: 565px) and (max-width: 995px) {
    flex-basis: 50%;
  }

  &.block {
    flex-basis: calc(33.33% - 2rem);

    @media only screen and (max-width: 564px) {
      flex-basis: calc(100% - 2rem);
    }

    @media only screen and (min-width: 565px) and (max-width: 995px) {
      flex-basis: calc(50% - 2rem);
    }
  }
}

.flex-25 {
  flex-basis: 25%;

  @media only screen and (max-width: 564px) {
    flex-basis: calc(100% - 2rem);
  }

  &.block {
    flex-basis: calc(25% - 2rem);

    @media only screen and (max-width: 564px) {
      flex-basis: calc(100% - 2rem);
    }

    @media only screen and (min-width: 565px) and (max-width: 1104px) {
      flex-basis: calc(50% - 2rem);
    }
  }
}

[class*='background'][class*='flex'].block {
  padding: 1rem;
}
