#umass-footer {
  background: #333;
  padding: 1rem;
  color: #fff;
}

#umass-footer a,
#umass-footer p {
  color: #fff;
  text-decoration: none;
  margin: 0;
}

#umass-footer p {
  text-align: center;
  font-size: 0.9rem;
}

#umass-footer a:focus,
#umass-footer a:hover {
  color: #fff;
  text-decoration: underline;
}
